{% extends "WebBundle:Default:body.html.twig" %}

{% block title %}
CS Cupcakes | Los &Aacute;ngeles
{% endblock %}

{% block content %}
<div id="block1" class="block-blanco">
  <div class="row">
    <div class="medium-12 columns">
      
    <div class="wrapper">
      
      <div id="content1" class="row edit_bienvenida">
        <div class="medium-6 columns">
          
          <div class="wrapper">
            <div class="editar_texto_input" data-id="1" data-campo="1" data-item="h3">
              <h3>{{ seccion.bienvenidos.texto1 }}</h3>
            </div>
            <div class="editar_texto_area" data-id="1" data-campo="2" data-item="p">
              <p>{{ seccion.bienvenidos.texto2 }}</p>
            </div>
            <div class="bottom">
              <div class="editar_texto_input inline-block" data-id="1" data-campo="3" data-item="h4">
                <h4>{{ seccion.bienvenidos.texto3 }}</h4>
              </div>
              <div class="telefono etiqueta editar_texto_input" data-id="1" data-campo="4" data-item="span">
                <span>{{ seccion.bienvenidos.texto4 }}</span>
              </div>
            </div>
          </div>

        </div>
        <div class="medium-6 columns">
          {% if session %}
            <div class="btn-editar">
              <form id="form_imagen_bienvenida" action="#" method="post" enctype="multipart/form-data">
                <input type="file" class="file_foto" accept="image/x-png, image/jpeg" name="foto" data-img="img_bienvenida" data-form="form_imagen_bienvenida" data-id="1">
              </form>
            </div>
          {% endif %}
          <div class="wrapper img_bienvenida">
            <img src="{{ absolute_url( asset(seccion.bienvenidos.foto)) }}">
          </div>
          
        </div>
      </div>

      <div class="ribbon">
        <p>cupcakes destacados</p>
      </div>

      {% if session %}
        <div class="btn-editar">
          <button type="button" id="btn_inicio_editar_destacados"><img src="{{ absolute_url(asset('image/edit.png')) }}" alt=""></button>
        </div>
      {% endif %}

      <div class="cupcakes-slides" data-slick='{"slidesToShow": 4, "slidesToScroll": 1}'>

        {% for destacado in destacados %}
          <div>
            <a>
              <img src="{{ absolute_url( asset(destacado.imagen)) }}">
              <h3>{{ destacado.texto1 }}</h3>
              <hr>
              <h4>{{ destacado.texto2 }}</h4>
              <div class="precio">{{ destacado.precio }}</div>
            </a>
            {% if session %}
              <a href="#" class="btn_editar_destacado" data-id="{{ destacado.id }}" data-img="{{ absolute_url( asset(destacado.imagen)) }}" data-texto1="{{ destacado.texto1 }}" data-texto2="{{ destacado.texto2 }}" data-precio="{{ destacado.precio }}">Editar</a>
              <a href="#" class="btn_eliminar_cupcake" data-id="{{ destacado.id }}" style="color: orange;">Eliminar</a>
            {% endif %}
          </div>
        {% endfor %}
      </div>

    </div>

    </div>
  </div>
</div>

<div id="block2" class="block-negro">
  <div class="row">
    <div class="medium-12 columns">
      
      <div class="wrapper">
      
        <div class="row">
          <div class="medium-4 columns">
            <div class="cupcake cup1">
              <img src="{{ absolute_url( asset('image/cup1.png')) }}">
              <h4>Love</h4>
              <h3>Chocolate</h3>
              <div class="precio">$925 - $570</div>
            </div>
          </div>
          <div class="medium-4 columns">
            <img src="{{ absolute_url( asset('image/logo2.png')) }}">
            <p>prueba nuestra línea premium.<br>
              regala amor, regala momentos<br>
              <span>regala cs cupcakes</span></p>
          </div>
          <div class="medium-4 columns">
            <div class="cupcake cup2">
              <img src="{{ absolute_url( asset('image/cup2.png')) }}">
              <h4>Passion</h4>
              <h3>Chocolate</h3>
              <div class="precio">$925 - $570</div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<div id="block3" class="block-blanco">
  <div class="row">
    <div class="medium-12 columns">
      
      <div class="wrapper">

        <h2>nuevos cupcakes</h2>

        <div class="separador"><img src="{{ absolute_url( asset('image/separador1.png')) }}"></div>
      
        <div class="editar_texto_input" data-id="2" data-campo="2" data-item="p">
          <p>{{ seccion.nuevos_cupcakes.texto2 }}</p>
        </div>
        
        {% if session %}
          <div class="btn-editar">
            <button type="button" id="btn_inicio_editar_nuevos"><img src="{{ absolute_url(asset('image/edit.png')) }}" alt=""></button>
          </div>
        {% endif %}

        <div class="cupcakes-slides" data-slick='{"slidesToShow": 4, "slidesToScroll": 1}'>
        {% for nuevo in nuevos %}
          <div>
            <a>
              <img src="{{ absolute_url( asset(nuevo.imagen)) }}">
              <h3>{{ nuevo.texto1 }}</h3>
              <hr>
              <h4>{{ nuevo.texto2 }}</h4>
              <div class="precio">{{ nuevo.precio }}</div>
            </a>
              {% if session %}
                <a href="#" class="btn_editar_nuevo" data-id="{{ nuevo.id }}" data-img="{{ absolute_url( asset(nuevo.imagen)) }}" data-texto1="{{ nuevo.texto1 }}" data-texto2="{{ nuevo.texto2 }}" data-precio="{{ nuevo.precio }}">Editar</a>
                <a href="#" class="btn_eliminar_cupcake" data-id="{{ nuevo.id }}" style="color: orange;">Eliminar</a>
              {% endif %}
          </div>
        {% endfor %}

        <!-- <div><a href="">
          <img src="{{ absolute_url( asset('image/cupcakes/clasico/naranja.png')) }}">
          <h3>Clasico</h3>
          <hr>
          <h4>Naranja</h4>
          <div class="precio">$925 - $570</div>
        </a></div>

        <div><a href="">
          <img src="{{ absolute_url( asset('image/cupcakes/personalizado/bautizo.png')) }}">
          <h3>Personalizado</h3>
          <hr>
          <h4>Bautizos</h4>
          <div class="precio">$925 - $570</div>
        </a></div>

        <div><a href="">
          <img src="{{ absolute_url( asset('image/cupcakes/clasico/velvet.png')) }}">
          <h3>Clasico</h3>
          <hr>
          <h4>Red Velvet</h4>
          <div class="precio">$925 - $570</div>
        </a></div>

        <div><a href="">
          <img src="{{ absolute_url( asset('image/cupcakes/Especiales/oreo.png')) }}">
          <h3>Especiales</h3>
          <hr>
          <h4>Oreo</h4>
          <div class="precio">$925 - $570</div>
        </a></div> -->
      </div>

        <div class="light">

          <h2>Servicios Especiales</h2>

          <div class="separador"><img src="{{ absolute_url( asset('image/separador1.png')) }}"></div>
          
          <div class="editar_texto_input" data-id="3" data-campo="2" data-item="p">
            <p>{{ seccion.servicios_especiales.texto2 }}.</p>
          </div>

          <div id="serv" class="row">
            <div class="medium-offset-1 medium-3 columns">
              <a href="#">
                <img src="{{ absolute_url( asset('image/s1.png')) }}">
                <h3>cupcakes para cocktail</h3>
              </a>
            </div>
            <div class="medium-3 columns">
              <a href="#">
                <img src="{{ absolute_url( asset('image/s2.png')) }}">
                <h3>entrega a domicilio</h3>
              </a>
            </div>
            <div class="medium-3 columns end">
              <a href="#">
                <img src="{{ absolute_url( asset('image/s3.png')) }}">
                <h3>cupcakes personalizados</h3>
              </a>
            </div>
          </div>

        <br>
        <br>
        <br>

        <div class="ribbon">
          <p>Encuéntranos en…</p>
        </div>                   

        <br>

        <div class="row">
          <div class="medium-6 large-3 columns">
            <a href=""><img src="{{ absolute_url( asset('image/youtube.jpg')) }}"></a>
            <!-- {# if session == 1 #}
            <div class="edit_red_social">
              <input type="text" cLass="txt_red_social" data-id="8" value="" placeholder="http://">
            </div>
            {# endif #} -->
          </div>
          <div class="medium-6 large-3 columns">
            <a href=""><img src="{{ absolute_url( asset('image/facebook.jpg')) }}"></a>
            <!-- {# if session == 1 #}
            <div class="edit_red_social">
              <input type="text" cLass="txt_red_social" data-id="6" value="" placeholder="http://">
            </div>
            {# endif #} -->
          </div>
          <div class="medium-6 large-3 columns">
            <a href=""><img src="{{ absolute_url( asset('image/instagram.jpg')) }}"></a>
            <!-- {# if session == 1 #}
            <div class="edit_red_social">
              <input type="text" class="txt_red_social" data-id="7" value="" placeholder="http://">
            </div>
            {# endif #} -->
          </div>
          <div class="medium-6 large-3 columns">
            <a href=""><img src="{{ absolute_url( asset('image/google.jpg')) }}"></a>
            <!-- {# if session == 1 #}
            <div class="edit_red_social">
              <input type="text" class="txt_red_social" data-id="9" value="" placeholder="http://">
            </div>
            {# endif #} -->
          </div>
        </div>

        <h5>Instagram</h5>

        <div class="row">

          <div style="position: relative; height: 16px; width: 100%; overflow: hidden; padding-top:50%;"><iframe src="//widgets-code.websta.me/w/c3ddb17bef3b?ck=MjAxNi0wOS0yOFQxNDo0MDowNC4wMDBa" class="websta-widgets" allowtransparency="true" frameborder="0" scrolling="no" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe> <!-- WEBSTA WIDGETS - widgets.websta.me --></div>


        </div>

        </div>

        <br>
        <br>

      </div>

    </div>
  </div>
</div>

{% if session %}
<div class="small reveal" id="exampleModal1" data-reveal data-animation-in="someAnimationIn">
  <h2>CUPCAKES DESTACADOS</h2>
  <div class="row">
    <div class="medium-12 columns">
      <form id="form_destacados" action="{{ url('ajax_guardar_cupcakes') }}" method="post" enctype="multipart/form-data">
        <input type="hidden" id="txt_id" name="txt_id">
        <input type="hidden" id="txt_tipo" name="txt_tipo" value="1">
        
        <h3>Agregar</h3>

        <div class="row">
          <div class="medium-6 columns">
            
            <label for="">texto 1</label>
            <input type="text" id="txt_texto_1" name="txt_texto_1">

            <label for="">texto 2</label>
            <input type="text" id="txt_texto_2" name="txt_texto_2">

            <label for="">Precio</label>
            <input type="text" id="txt_precio" name="txt_precio">

          </div>
          <div class="medium-6 columns">
            <div class="contenido_imagen_editar" style="text-align: center;">
              
            </div>
            <div class="btn-editar" style="text-align: center;">
              <input type="file" class="file_foto_destacado file_foto2" accept="image/x-png, image/jpeg" name="foto">
            </div>
          </div>
        </div>

        <button type="button" class="btn_guardar_destacados">Guardar</button>

      </form>
    </div>
  </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="small reveal" id="exampleModal2" data-reveal data-animation-in="someAnimationIn">
  <h2>CUPCAKES NUEVOS</h2>
  <div class="row">
    <div class="medium-12 columns">
      <form id="form_nuevos" action="{{ url('ajax_guardar_cupcakes') }}" method="post" enctype="multipart/form-data">
        <input type="hidden" id="txt_id_nuevo" name="txt_id">
        <input type="hidden" id="txt_tipo_nuevo" name="txt_tipo" value="2">

        <h3>Agregar</h3>

        <div class="row">
          <div class="medium-6 columns">

            <label for="">texto 1</label>
            <input type="text" id="txt_texto_1_nuevo" name="txt_texto_1">

            <label for="">texto 2</label>
            <input type="text" id="txt_texto_2_nuevo" name="txt_texto_2">

            <label for="">Precio</label>
            <input type="text" id="txt_precio_nuevo" name="txt_precio">

          </div>
          <div class="medium-6 columns">
            <div class="contenido_imagen_editar_nuevo" style="text-align: center;">

            </div>
            <div class="btn-editar" style="text-align: center;">
              <input type="file" class="file_foto_nuevo file_foto2" accept="image/x-png, image/jpeg" name="foto">
            </div>
          </div>
        </div>

        <button type="button" class="btn_guardar_nuevo">Guardar</button>

      </form>
    </div>
  </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(function(){

      var $textarea = $('form textarea');
      var $submit = $('form input[type="submit"]');

      $("form #onenter").on({
         'mouseenter':function() { $(this).find($submit).stop(true,true).fadeIn('fast'); },
         'mouseleave':function() { $(this).find($submit).stop(true,true).fadeOut('fast'); }
      });

      /*$('form textarea').hover(
        function(){
          $('form input[type="submit"]').fadeIn('fast');
        },
        function(){
          $('form input[type="submit"]').fadeOut('fast');
        }
      );*/
      $('.cupcakes-slides').slick({
        infinite: true,
        centerMode: false,
        draggable: false,
        responsive: [
          {
            breakpoint: 770,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 595,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 395,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
      });
    });
    </script>
{% endblock %}