{% extends "WebBundle:Default:body.html.twig" %}

{% block title %}
CS Cupcakes | Los &Aacute;ngeles
{% endblock %}

{% block content %}
<div id="block1" class="block-blanco">
  <div class="row">
    <div class="medium-12 columns">
      
    <div class="wrapper">
      
      <div id="content1" class="row">
        {% if session == 1 %}
          <div class="medium-12 columns btn-editar">
            <button><img src="{{ absolute_url(asset('image/edit.png')) }}" alt=""></button>
          </div>
          {% endif %}
        <div class="medium-6 columns">
          
          <div class="wrapper">
            <h3>Bienvenidos</h3>
            <p>En Cs Cupcakes entendemos la repostería como el arte de preparar y decorar productos dulces. Unir exquisitos sabores con hermosas decoraciones acompañados de la más alta calidad de productos es nuestro compromiso. Queremos que cada mordisco genere una sonrisa y que cada momento especial se transforme en único.</p>
            <div class="bottom">
              <h4>haz tu pedido</h4>
              <div class="telefono etiqueta">
                9 9844 8040
              </div>
            </div>
          </div>

        </div>
        <div class="medium-6 columns">
          
          <div class="wrapper">
            <img src="{{ absolute_url( asset('image/inicio1.png')) }}">
          </div>
          
        </div>
      </div>

      <div class="ribbon">
        <p>cupcakes destacados</p>
      </div>

      <div class="cupcakes-slides" data-slick='{"slidesToShow": 4, "slidesToScroll": 1}'>
        <div><a href="">
          <img src="{{ absolute_url( asset('image/cupcakes/clasico/limon.png')) }}">
          <h3>Clasico</h3>
          <hr>
          <h4>Limon</h4>
          <div class="precio">$925 - $570</div>
        </a></div>

        <div><a href="">
          <img src="{{ absolute_url( asset('image/cupcakes/clasico/naranja.png')) }}">
          <h3>Clasico</h3>
          <hr>
          <h4>Naranja</h4>
          <div class="precio">$925 - $570</div>
        </a></div>

        <div><a href="">
          <img src="{{ absolute_url( asset('image/cupcakes/personalizado/bautizo.png')) }}">
          <h3>Personalizado</h3>
          <hr>
          <h4>Bautizos</h4>
          <div class="precio">$925 - $570</div>
        </a></div>

        <div><a href="">
          <img src="{{ absolute_url( asset('image/cupcakes/clasico/velvet.png')) }}">
          <h3>Clasico</h3>
          <hr>
          <h4>Red Velvet</h4>
          <div class="precio">$925 - $570</div>
        </a></div>

        <div><a href="">
          <img src="{{ absolute_url( asset('image/cupcakes/Especiales/oreo.png')) }}">
          <h3>Especiales</h3>
          <hr>
          <h4>Oreo</h4>
          <div class="precio">$925 - $570</div>
        </a></div>
      </div>

    </div>

    </div>
  </div>
</div>

<div id="block2" class="block-negro">
  <div class="row">
    <div class="medium-12 columns">
      
      <div class="wrapper">
      
        <div class="row">
          <div class="medium-4 columns">
            <div class="cupcake cup1">
              <img src="{{ absolute_url( asset('image/cup1.png')) }}">
              <h4>Love</h4>
              <h3>Chocolate</h3>
              <div class="precio">$925 - $570</div>
            </div>
          </div>
          <div class="medium-4 columns">
            <img src="{{ absolute_url( asset('image/logo2.png')) }}">
            <p>prueba nuestra línea premium.<br>
              regala amor, regala momentos<br>
              <span>regala cs cupcakes</span></p>
          </div>
          <div class="medium-4 columns">
            <div class="cupcake cup2">
              <img src="{{ absolute_url( asset('image/cup2.png')) }}">
              <h4>Passion</h4>
              <h3>Chocolate</h3>
              <div class="precio">$925 - $570</div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<div id="block3" class="block-blanco">
  <div class="row">
    <div class="medium-12 columns">
      
      <div class="wrapper">

        <h2>nuevos cupcakes</h2>

        <div class="separador"><img src="{{ absolute_url( asset('image/separador1.png')) }}"></div>

        <p>Déjate seducir por sabores y aromas inigualables, sorpréndete al disfrutar de sabores nuestros tradicionales en CupCakes y vuélvete un adicto al comer un especial.</p>

        <div class="cupcakes-slides" data-slick='{"slidesToShow": 4, "slidesToScroll": 1}'>
        <div><a href="">
          <img src="{{ absolute_url( asset('image/cupcakes/clasico/limon.png')) }}">
          <h3>Clasico</h3>
          <hr>
          <h4>Limon</h4>
          <div class="precio">$925 - $570</div>
        </a></div>

        <div><a href="">
          <img src="{{ absolute_url( asset('image/cupcakes/clasico/naranja.png')) }}">
          <h3>Clasico</h3>
          <hr>
          <h4>Naranja</h4>
          <div class="precio">$925 - $570</div>
        </a></div>

        <div><a href="">
          <img src="{{ absolute_url( asset('image/cupcakes/personalizado/bautizo.png')) }}">
          <h3>Personalizado</h3>
          <hr>
          <h4>Bautizos</h4>
          <div class="precio">$925 - $570</div>
        </a></div>

        <div><a href="">
          <img src="{{ absolute_url( asset('image/cupcakes/clasico/velvet.png')) }}">
          <h3>Clasico</h3>
          <hr>
          <h4>Red Velvet</h4>
          <div class="precio">$925 - $570</div>
        </a></div>

        <div><a href="">
          <img src="{{ absolute_url( asset('image/cupcakes/Especiales/oreo.png')) }}">
          <h3>Especiales</h3>
          <hr>
          <h4>Oreo</h4>
          <div class="precio">$925 - $570</div>
        </a></div>
      </div>

        <div class="light">

          <h2>Servicios Especiales</h2>

          <div class="separador"><img src="{{ absolute_url( asset('image/separador1.png')) }}"></div>

          <p>Si deseas que tu evento a actividad tenga un toque especial a lo ya vivido, puedes contar con nosotros, ya que te ofrecemos CupCakes Personalizados para celebraciones como matrimonios, bautizos, actividades para empresas e instituciones con despacho a domicilio.</p>

          <div id="serv" class="row">
            <div class="medium-offset-1 medium-3 columns">
              <a href="#">
                <img src="{{ absolute_url( asset('image/s1.png')) }}">
                <h3>cupcakes para cocktail</h3>
              </a>
            </div>
            <div class="medium-3 columns">
              <a href="#">
                <img src="{{ absolute_url( asset('image/s2.png')) }}">
                <h3>entrega a domicilio</h3>
              </a>
            </div>
            <div class="medium-3 columns end">
              <a href="#">
                <img src="{{ absolute_url( asset('image/s3.png')) }}">
                <h3>cupcakes personalizados</h3>
              </a>
            </div>
          </div>

        <br>
        <br>
        <br>

        <div class="ribbon">
          <p>Encuéntranos en…</p>
        </div>                   

        <br>

        <div class="row">
          <div class="medium-6 large-3 columns">
            <a href=""><img src="{{ absolute_url( asset('image/youtube.jpg')) }}"></a>
          </div>
          <div class="medium-6 large-3 columns">
            <a href=""><img src="{{ absolute_url( asset('image/facebook.jpg')) }}"></a>
          </div>
          <div class="medium-6 large-3 columns">
            <a href=""><img src="{{ absolute_url( asset('image/instagram.jpg')) }}"></a>
          </div>
          <div class="medium-6 large-3 columns">
            <a href=""><img src="{{ absolute_url( asset('image/google.jpg')) }}"></a>
          </div>
        </div>

        <h5>Instragram</h5>

        <div class="row">
          <div class="medium-6 large-3 columns">
            <a href=""><img src="{{ absolute_url( asset('image/pic.png')) }}"></a>
          </div>
          <div class="medium-6 large-3 columns">
            <a href=""><img src="{{ absolute_url( asset('image/pic.png')) }}"></a>
          </div>
          <div class="medium-6 large-3 columns">
            <a href=""><img src="{{ absolute_url( asset('image/pic.png')) }}"></a>
          </div>
          <div class="medium-6 large-3 columns">
            <a href=""><img src="{{ absolute_url( asset('image/pic.png')) }}"></a>
          </div>
        </div>


        </div>

        <br>
        <br>

      </div>

    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(function(){

      var $textarea = $('form textarea');
      var $submit = $('form input[type="submit"]');

      $("form #onenter").on({
         'mouseenter':function() { $(this).find($submit).stop(true,true).fadeIn('fast'); },
         'mouseleave':function() { $(this).find($submit).stop(true,true).fadeOut('fast'); }
      });

      /*$('form textarea').hover(
        function(){
          $('form input[type="submit"]').fadeIn('fast');
        },
        function(){
          $('form input[type="submit"]').fadeOut('fast');
        }
      );*/
      $('.cupcakes-slides').slick({
        infinite: true,
        centerMode: false,
        draggable: false,
        responsive: [
          {
            breakpoint: 770,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 595,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 395,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
      });
    });
    </script>
{% endblock %}