{% extends "WebBundle:Default:body.html.twig" %}

{% block title %}
Nosotros | CS Cupcakes | Los &Aacute;ngeles
{% endblock %}

{% block content %}

<div id="menuu" class="">
      <div class="row">
        <div class="medium-12 columns">
          
          <div class="wrapper">

            <div class="ribbon">
              <p>Nuestros cupcakes</p>
            </div>

            <div class="row medium-up-2">

              <div class="columns">

                <h3>Clasicos</h3>
                <div class="row medium-up-2">
                  <div class="column">
                    {% if session %}
                    <a href="#" class="btn_agregar_cupcake" data-categoria="1">Agregar</a>
                    {% endif %}
                    <ul>
                      {% for cupcake in lista_cupcake.1 %}
                      <li><a href="{{ absolute_url( asset(cupcake.img)) }}">{{ cupcake.nombre }}</a>{% if session %} - <button type="button" class="btn_eliminar_cupcake" data-id="{{ cupcake.id }}" style="color:red;">Eliminar</button>{% endif %}</li>
                      {% endfor %}
                    </ul>
                  </div>
                  <div class="column foto">
                    <img src="{{ absolute_url( asset('image/cupcakes/clasico/velvet.png')) }}">
                  </div>
                </div>


              </div>

              <div class="columns">

                <h3>Especiales</h3>
                <div class="row medium-up-2">
                  <div class="column">
                    {% if session %}
                    <a href="#" class="btn_agregar_cupcake" data-categoria="2">Agregar</a>
                    {% endif %}
                    <ul>
                      {% for cupcake in lista_cupcake.2 %}
                      <li><a href="{{ absolute_url( asset(cupcake.img)) }}">{{ cupcake.nombre }}</a>{% if session %} - <button type="button" class="btn_eliminar_cupcake" data-id="{{ cupcake.id }}" style="color:red;">Eliminar</button>{% endif %}</li>
                      {% endfor %}
                    </ul>
                  </div>
                  <div class="column foto">
                    <img src="{{ absolute_url( asset('image/cupcakes/Especiales/ganache.png')) }}">
                  </div>
                </div>


              </div>

              <div class="columns">

                <h3>Personalizados</h3>
                <div class="row medium-up-2">
                  <div class="column">
                    {% if session %}
                    <a href="#" class="btn_agregar_cupcake" data-categoria="3">Agregar</a>
                    {% endif %}
                    <ul>
                      {% for cupcake in lista_cupcake.3 %}
                      <li><a href="{{ absolute_url( asset(cupcake.img)) }}">{{ cupcake.nombre }}</a>{% if session %} - <button type="button" class="btn_eliminar_cupcake" data-id="{{ cupcake.id }}" style="color:red;">Eliminar</button>{% endif %}</li>
                      {% endfor %}
                    </ul>
                  </div>
                  <div class="column foto">
                    <img src="{{ absolute_url( asset('image/cupcakes/personalizado/navidad.png')) }}">
                  </div>
                </div>


              </div>

              <div class="columns">

                <h3>Mini Cupcakes</h3>
                <div class="row medium-up-2">
                  <div class="column">
                    {% if session %}
                    <a href="#" class="btn_agregar_cupcake" data-categoria="4">Agregar</a>
                    {% endif %}
                    <ul>
                      {% for cupcake in lista_cupcake.4 %}
                      <li><a href="{{ absolute_url( asset(cupcake.img)) }}">{{ cupcake.nombre }}</a>{% if session %} - <button type="button" class="btn_eliminar_cupcake" data-id="{{ cupcake.id }}" style="color:red;">Eliminar</button>{% endif %}</li>
                      {% endfor %}
                    </ul>
                  </div>
                  <div class="column foto">
                    <img src="{{ absolute_url( asset('image/prev1.png')) }}">
                  </div>
                </div>


              </div>

            </div>

          </div>

        </div>
      </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div id="">
      
      <div class="row">
        <div class="medium-12 columns">
          
          <div class="ribbon">
            <p>cupcakes destacados</p>
          </div>

          <div class="cupcakes-slides" data-slick='{"slidesToShow": 4, "slidesToScroll": 1}'>
            {% for destacado in destacados %}
              <div>
                <a>
                  <img src="{{ absolute_url( asset(destacado.imagen)) }}">
                  <h3>{{ destacado.texto1 }}</h3>
                  <hr>
                  <h4>{{ destacado.texto2 }}</h4>
                  <div class="precio">{{ destacado.precio }}</div>
                </a>
              </div>
            {% endfor %}
          </div>   

        </div>
      </div>

    </div>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    {% if session %}
    <div class="small reveal" id="exampleModal1" data-reveal data-animation-in="someAnimationIn">
      <h2>CUPCAKE</h2>
      <div class="row">
        <div class="medium-12 columns">
          <form id="form_cupcakes" action="{{ url('ajax_guardar_cupcakes') }}" method="post" enctype="multipart/form-data">
            <input type="hidden" id="txt_id" name="txt_id">
            <input type="hidden" id="txt_cat" name="txt_cat">
            <!-- <input type="hidden" id="txt_tipo" name="txt_tipo" value="1"> -->
            
            <h3>Agregar</h3>

            <div class="row">
              <div class="medium-6 columns">
                
                <label for="">Nombre</label>
                <input type="text" id="txt_texto_2" name="txt_texto_2">

              </div>
              <div class="medium-6 columns">
                <div class="contenido_imagen_editar" style="text-align: center;">
                  
                </div>
                <div class="btn-editar" style="text-align: center;">
                  <input type="file" class="file_foto_cupcake file_foto2" accept="image/x-png, image/jpeg" name="foto">
                </div>
              </div>
            </div>

            <button type="button" class="btn_guardar_cupcakes">Guardar</button>

          </form>
        </div>
      </div>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}
            
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(function(){

      $('#menuu ul li a').hover(
        function(){
          $(this).parent().parent().parent().parent().parent().find('img').attr('src', $(this).attr('href'));
          $(this).css('font-weight','900');
        },
        function(){
          $(this).css('font-weight','normal');
        }
      );

      $(document).on('click', '#menuu ul li a', function(event){
        event.preventDefault();
        var $lis = $('#menuu ul li');
        $.each($lis, function(){
          $(this).removeClass("selected");
        });
        $(this).parent().addClass("selected");
        console.log('asd');
      });

      var $textarea = $('form textarea');
      var $submit = $('form input[type="submit"]');

      $("form #onenter").on({
         'mouseenter':function() { $(this).find($submit).stop(true,true).fadeIn('fast'); },
         'mouseleave':function() { $(this).find($submit).stop(true,true).fadeOut('fast'); }
      });

      /*$('form textarea').hover(
        function(){
          $('form input[type="submit"]').fadeIn('fast');
        },
        function(){
          $('form input[type="submit"]').fadeOut('fast');
        }
      );*/
      $('.cupcakes-slides').slick({
        infinite: true,
        centerMode: false,
        draggable: false,
        responsive: [
          {
            breakpoint: 770,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 595,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 395,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
      });
    });
    </script>
{% endblock %}