<!doctype html>
<html class="no-js" lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css">
    <link rel="stylesheet" href="{{ absolute_url(asset('css/owl.carousel2.min.css')) }}">
    
    <link rel="stylesheet" href="{{ absolute_url(asset('css/app.css')) }}">
    {% if session == 1 %}
    <link rel="stylesheet" href="{{ absolute_url(asset('css/admin.css')) }}">
    {% endif %}

    {% block css %}
    {% endblock %}

  </head>
  <body {{ id_body is defined ? id_body }}>
    
    {% block body %}
    {% endblock %}
    
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ absolute_url(asset('bower_components/jquery/dist/jquery.js')) }}"></script>
    <script src="{{ absolute_url(asset('bower_components/what-input/what-input.js')) }}"></script>
    <script src="{{ absolute_url(asset('bower_components/foundation-sites/dist/foundation.js')) }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.js"></script>
    <script src="{{ absolute_url(asset('js/owl.carousel2.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('js/app.js')) }}"></script>

    {% if session == 1 %}
    <script src="{{ absolute_url(asset('js/admin.js')) }}"></script>
    {% endif %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script>

    {% block js %}
    {% endblock %}

  </body>
</html>