<!doctype html>
<html class="no-js" lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css">
    <link rel="stylesheet" href="{{ absolute_url(asset('css/owl.carousel2.min.css')) }}">

    <link rel="stylesheet" href="{{ absolute_url(asset('css/app.css')) }}">

  </head>
  <body>
    
    {% block body %}
    {% endblock %}

    <script src="{{ absolute_url(asset('bower_components/jquery/dist/jquery.js')) }}"></script>
    <script src="{{ absolute_url(asset('bower_components/what-input/what-input.js')) }}"></script>
    <script src="{{ absolute_url(asset('bower_components/foundation-sites/dist/foundation.js')) }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.js"></script>
    <script src="{{ absolute_url(asset('js/owl.carousel2.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('js/app.js')) }}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script>

    <script type="text/javascript">
    $(function(){

      var $textarea = $('form textarea');
      var $submit = $('form input[type="submit"]');

      $("form #onenter").on({
         'mouseenter':function() { $(this).find($submit).stop(true,true).fadeIn('fast'); },
         'mouseleave':function() { $(this).find($submit).stop(true,true).fadeOut('fast'); }
      });

      /*$('form textarea').hover(
        function(){
          $('form input[type="submit"]').fadeIn('fast');
        },
        function(){
          $('form input[type="submit"]').fadeOut('fast');
        }
      );*/
      $('.cupcakes-slides').slick({
        infinite: true,
        centerMode: false,
        draggable: false,
        responsive: [
          {
            breakpoint: 770,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 595,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 395,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
      });
    });
    </script>

  </body>
</html>